@import "tailwindcss";

html {
    scrollbar-width: none;
    transition: .5s;
}



ul li a {
    text-decoration: none;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff8c;
    position: absolute;
    width: 100%;
    z-index: 2;
}

ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav>ul>li>a:hover {
    color: #0966c8;
    transition: 0.3s;
}

.logo {
    font-family: 'Ms Madi';
    font-size: 3rem;
    font-weight: 100;
    color: #0966c8;
}

li>a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 450;
    color: #323232;
}

.head-section {
    text-align: center;
    background-image: url(/src/images/front-image.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.backdrop {
    background-color: #00000087;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.header-text {
    z-index: 1;
    position: relative;
    color: white;
    top: 55%;
    transform: translateY(-50%);
}

.header-text h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.header-text p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    width: 70%;
    margin: auto;
}

.header-text>button {
    margin-top: 5rem;
    padding: 1rem 4rem;
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border: white solid 2px;
    border-radius: 5px;
    cursor: pointer;
}

.header-text>button>a {
    text-decoration: none;
    color: #ffffff;
}

.header-text>button:hover {
    background-color: #1F7F52;
    border: #1F7F52 solid 2px;
    transition: 0.3s;
}

.mid-section {
    padding: 4rem 7rem;
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    background-color: #DADADA;
}

.item {
    flex: 1;
    text-align: center;
    padding: 4rem 2rem;
    background-color: #F0F0F0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.item h2 {
    font-family: 'Playfair', serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333333;
}

.item p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #555555;
}

.room-section {
    text-align: center;
    padding: 4rem 7rem;
}

.room-section h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #323232;
}

.room-header p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #595959;
    margin-bottom: 3rem;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 4rem;
    /* gap between cells */
    border: none;
}

td {
    vertical-align: top;
    width: 30%;

}

.room-item {
    text-align: center;
    border: black solid 1px;
    padding: 2rem;
    border-radius: 10px;


}

.room-item-con h3 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.25rem;
    font-weight: 450;
    color: #000000;
}

.room-item-con p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #595959;
    line-height: 1.5;
}

.room-item img {
    width: 100%;
    border-radius: 10px;
    margin-top: .2rem;
    transform: scale(1.5);
}

.second-layer,
.left-side {
    display: flex;
}

.second-layer {
    gap: 2rem;
    margin-top: 1rem;
}

.left-side {
    gap: 1rem;
}

.right-side,
i {
    font-style: normal;
    color: #007A56;
}

.third-layer {
    margin-top: 2rem;
    text-align: left;
}

.third-layer h4 {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    margin-bottom: 0.5rem;
}

.third-layer>div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.room-item button {
    margin-top: 1.5rem;
    padding: 0.75rem 5.5rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    background-color: #007A56;
    border: #007A56 solid 2px;
    border-radius: 20px;
    cursor: pointer;
}

.room-item button:hover {
    background-color: #005F43;
    border: #005F43 solid 2px;
    transition: 0.3s;
}

.room-item>h3 {
    text-align: left;
}

.about-section {
    padding: 4rem 7rem;
    gap: 4rem;
    text-align: center;
    background-color: #DADADA;
}

.about-section h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #323232;
}

.about-section p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #595959;
    margin-bottom: 3rem;
}

.about-item-con {
    display: flex;
    gap: 2rem;
}

.about-item {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.about-item h2 {
    font-family: 'Playfair', serif;
    font-size: 1.3rem;
    font-weight: 600;
    color: #333333;
}

.about-item p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #555555;
}

.feedback-section {
    padding: 4rem 7rem;
    text-align: center;
}

.feedback-section h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #323232;
}

.feedback-section p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #595959;
    margin-bottom: 3rem;
}

.feedback-item-con {
    display: flex;
    gap: 3rem;
}

.feedback-item {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: start;
    background-color: #F0F0F0;
    border-radius: 10px;
    width: 30%;
    gap: 1rem;
    text-align: left;
}

.feedback-item p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #555555;
    margin: 0;
}

.feedback-item i {
    font-size: 2rem;
    color: #FFD700;
}

.feedback-item hr {
    width: 100%;
    border: 0.5px solid #C0C0C0;
}

footer {
    background-color: #333333;
    color: white;
    margin-top: 4rem;
    padding: 0 7rem 4rem 7rem;
}

.footer-item h1 {
  font-family: "MS Madi";
  font-size: 3rem;
}

.footer-item-con {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 25%;
}

.footer-item h3 p {
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    color: #FFFFFF;
}

.footer-item h3 {
    font-family: "Noto Sans", sans-serif;
}

.footer-item p {
  display: flex;
  gap: .8rem;
    color: #CCCCCC;
    font-family: "Noto Sans", sans-serif;

}



.footer-item li a {
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    color: #CCCCCC; ;
}

.footer-item ul {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.footer-item img {
    width: 20px;
    height: 20px;
}

footer hr {
    border: 0.5px solid #555555;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.footer-tag{
    font-family: "Noto Sans", sans-serif;
    font-size: .8rem;
    font-weight: 400;
}
